body {
  margin: 0;
  font-family: "Courier New", Courior, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(54deg, rgba(168,81,246,1) 25%, rgba(76,148,250,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button {
  cursor: pointer;
}